$plans-pricing            : (
    "free",
    "standard",
    "premium"
);

$plan-pricing-icon-width  : 145px;
$plan-pricing-icon-height : 165px;

@each $type in $plans-pricing {
    .plan-pricing-#{$type} {
        .plan-pricing__icon {
            background-image : url("../assets/images/icons/plan-#{$type}.svg");
        }
    }
}

.plan-pricing {
    position         : relative;
    display          : flex;
    flex-direction   : column;
    justify-content  : space-between;
    background-color : $snow;
    border           : 2px solid $dust;
    border-radius    : 10px;
    height           : 100%;

    &:hover,
    &:focus {
        border-color : $brand;
    }

    &__content {
        display        : flex;
        flex-direction : column;
        align-items    : center;
    }

    &__icon {
        flex-shrink       : 0;
        width             : $plan-pricing-icon-width;
        height            : $plan-pricing-icon-height;
        margin-bottom     : 30px;
        background-size   : cover;
        background-repeat : no-repeat;
    }

    &__title {
        font-size     : 18px;
        line-height   : 30px;
        margin-bottom : 30px;
        text-align    : center;
        font-weight   : 600;
    }

    &__list {
        margin-bottom : 50px;
    }

    &__footer {
        display        : flex;
        flex-direction : column;
        align-items    : center;
    }

    &__price {
        margin-bottom : 20px;
    }

    @media (max-width : 479px) {
        padding : 20px 15px 30px;

        .plan-pricing__icon {
            width         : calc(#{$plan-pricing-icon-width} / 2);
            height        : calc(#{$plan-pricing-icon-height} / 2);
            margin-bottom : 15px;
        }
        .plan-pricing__title {
            margin-bottom : 15px;
        }
        .plan-pricing__list {
            margin-bottom : 25px;
        }
    }
    @media (min-width : 1023px) {
        padding : 80px 70px 50px;
    }
}


